@model Users
@{
    ViewData["Title"] = "REgister";
}


<div class="row justify-content-center">
    <div class="col-md-4">
        <h2 class="mb-3">Register</h2>

        @if (!ViewData.ModelState.IsValid)
        {
            @Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })
        }

        <form asp-action="Register" method="post">
            <div class="mb-3">
                <label class="form-label">Username</label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label">Email</label>
                <input asp-for="Email" type="email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label">Password</label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-success w-100">Register</button>
        </form>

        <div class="text-center mt-3">
            <span>Sudah punya akun? </span>
            <a asp-controller="Auth" asp-action="Login">Login</a>
        </div>
    </div>
</div>